*.apk
*.aar
*.ap_
*.aab
*.dex
*.class
.kotlin/

bin/
gen/
out/
build/
.gradle/
captures/
.cxx/

local.properties
secrets.properties
*.jks
*.keystore
*.key

.idea/
*.iml
.navigation/
.vscode/
.DS_Store
Thumbs.db
*.log

refs/